<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantilla/plantillauli}">
<head>
<title>Editar ensayo</title>
</head>
<body>
	<h3 layout:fragment="titulo">Editar ensayo</h3>
	<ol layout:fragment="breadcrumb" class="breadcrumb float-sm-end">
		<li class="breadcrumb-item"><a th:href="@{/dashboard}">Inicio</a></li>
		<li class="breadcrumb-item"><a th:href="@{/ensayos}">Ensayos</a></li>
		<li class="breadcrumb-item active">Editar</li>
	</ol>
	<div layout:fragment="contenidopaginas">
		<form th:action="@{/ensayos/{id}/actualizar(id=${ensayo.idEnsayo})}"
			th:object="${ensayo}" method="post">
			<input type="hidden" th:field="*{idEnsayo}">
			<div class="card content-card">
				<div class="card-header">
					<h5 class="card-title mb-0">Actualizar ensayo</h5>
				</div>
				<div class="card-body">
					<div class="row g-3">
						<div class="col-md-4">
							<label class="form-label required">Lote</label><input
								class="form-control" th:field="*{idLote}" placeholder="1001">
						</div>
						<div class="col-md-4">
							<label class="form-label required">Producto</label><input
								class="form-control" th:field="*{idProducto}" placeholder="501">
						</div>
						<div class="col-md-4">
							<label class="form-label required">Código</label><input
								class="form-control" th:field="*{codigoEnsayo}"
								placeholder="ENS-2026-004">
						</div>
						<div class="col-md-4">
							<label class="form-label required">Fecha</label><input
								type="datetime-local" class="form-control"
								th:field="*{fechaEnsayo}">
						</div>
						<div class="col-md-5">
							<label class="form-label required">Responsable</label><input
								class="form-control" th:field="*{responsable}">
						</div>
						<div class="col-md-3">
							<label class="form-label">Estado</label><select
								class="form-select" th:field="*{estado}"><option>REGISTRADO</option>
								<option>EN_PROCESO</option>
								<option>FINALIZADO</option>
								<option>OBSERVADO</option></select>
						</div>
						<div class="col-12">
							<label class="form-label">Observación</label>
							<textarea class="form-control" rows="4" th:field="*{observacion}"></textarea>
						</div>
					</div>
				</div>
				<div class="card-footer text-end">
					<a th:href="@{/ensayos}" class="btn btn-outline-secondary">Cancelar</a>
					<button class="btn btn-primary">
						<i class="bi bi-save me-1"></i>Actualizar ensayo
					</button>
				</div>
			</div>
		</form>
	</div>
	<th:block layout:fragment="scripts"></th:block>
</body>
</html>